/**
 * Base styling
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $spacer * 2;
  color: inherit;
}

.tabs {
  section:not(.active) {
    display: none;
  }
}

a {
  color: $blue-2;
  text-underline-offset: 3px;
  font-weight: 700;

  @include base-transition(color);

  &:hover {
    color: $blue-1;
  }
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
